@{
    ViewBag.Title = "Home Page";
}



<form action="" method="post">
    <input type="text" name="name" value="" placeholder="login" />
    <input type="text" name="pass" value="" placeholder="password" />
    <input type="submit" name="name" value="send" />
</form>